/* Web Study Note 웹 사이트 스타일 입히기*/
/* CSS 공부하면서 배운 것들을 적용해보자.*/

/* CSS Style 복습용 */

/*
header {
    height: 70px;
    border-style: none none solid none;
    font-weight: bold;
    font-size: medium;
}

main {
    font-weight: bold;
    height: 300px;
    border-style: none none solid none;
}

nav {
    float: left;
    border-style: none solid none none;
    width: 20%;
    height: 300px;
}

.contentarea {
    float: left;
    width: 78%;
    text-align: center;
}

section {
    height: 30px;
    border-style: none none solid none;
}

footer {
    background-color: gray;
    border-style: solid none;
    border-color: black;
    font-weight: bold;
    color: white;
}*/
