/* Web Study Note 웹 사이트 스타일 입히기*/
/* CSS 공부하면서 배운 것들을 적용해보자.*/

.title {
    background-color: skyblue;
    height: 75px;
} /* 최상단 제목 부분의 배경색을 'skyblue(하늘색)'으로 설정함. */

.menu {
    font-weight: bold;
    float: left;
    background-color:gainsboro;
    width: 25%;
    height: 250px;
}

.content {
    font-weight: bold;
    float: left;
    background-color: wheat;
    width: 75%;
    height: 250px;
}

.buildlog {
    font-weight: bold;
}
