/* CSS Style 복습용 */

header {
    background-color: gainsboro;
    height: 75px;
}

.projectver {
    font-weight: bold;
}

nav {
    font-weight: bold;
    float: left;
    background-color: gainsboro;
    width: 25%;
    height: 300px;
}

main {
    width: 75%;
    height: 300px;
}

section {
    background-color: gainsboro;
    border-bottom-style: solid black;
    border-top-style: solid black;
    border-left-style: solid black;
    border-right-style: hidden;
}

article {
    background-color: white;
    border-left-style: solid black;
}


